<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm_65_with_gripper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rm_65_with_gripper urdf file -->
    <xacro:include filename="$(find rm_description)/urdf/rm_65_w_gripper.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rm_65_with_gripper.ros2_control.xacro" />


    <xacro:rm_65_with_gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
