<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find eg2_4b_description)/urdf/eg2_4b_description.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="eg2_4b_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.6792E-06 1.4343E-05 0.040955"
        rpy="0 0 0" />
      <mass
        value="0.075349" />
      <inertia
        ixx="6.9695E-05"
        ixy="-2.8955E-12"
        ixz="1.2653E-08"
        iyy="6.0426E-05"
        iyz="2.2585E-08"
        izz="1.9195E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.0001 0.0085832 0.013664"
        rpy="0 0 0" />
      <mass
        value="0.0024857" />
      <inertia
        ixx="5.8907E-07"
        ixy="1.3343E-19"
        ixz="4.2984E-19"
        iyy="5.2237E-07"
        iyz="-2.5787E-07"
        izz="2.7386E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 -0.04 0.09"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.872"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="9.9997E-05 0.011846 0.011367"
        rpy="0 0 0" />
      <mass
        value="0.0044927" />
      <inertia
        ixx="4.099E-07"
        ixy="-7.8736E-14"
        ixz="-7.8248E-14"
        iyy="4.2946E-07"
        iyz="-3.8654E-08"
        izz="1.6162E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.022341 0.035565"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0.849"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0001 -0.0085832 0.013664"
        rpy="0 0 0" />
      <mass
        value="0.0024857" />
      <inertia
        ixx="5.8907E-07"
        ixy="-3.3324E-19"
        ixz="3.1193E-19"
        iyy="5.2237E-07"
        iyz="2.5787E-07"
        izz="2.7386E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0.04 0.09"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0.872"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="9.9999E-05 -0.011846 0.011367"
        rpy="0 0 0" />
      <mass
        value="0.0044926" />
      <inertia
        ixx="4.099E-07"
        ixy="-1.4237E-13"
        ixz="-2.483E-13"
        iyy="4.2946E-07"
        iyz="3.8655E-08"
        izz="1.6162E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eg2_4b_description/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.022341 0.035565"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.849"
      effort="0"
      velocity="0" />
  </joint>
</robot>
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find eg2_4b_description)/urdf.rviz" />
</launch>